<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in with your account</title>
</head>
<body>

<div>
    <form th:action="@{/login}" method="POST" >
        <h2>Вход в систему</h2>
        <div>
            <input name="login" type="text" placeholder="Введите логин..."
                   autofocus="true"/>
            <input type="password" name="password" type="password" placeholder="Введите пароль..."/>
            <button type="submit">Войти</button>
            <h4><a href="/v1/create-user">Зарегистрироваться</a></h4>
        </div>
    </form>
</div>

</body>
</html>
